body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1b1b1b;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 60px auto;
    padding: 40px;
    background-color: #2b2b2b;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.btn.special {
    background-color: #28a745;
}

.btn.special:hover {
    background-color: #1e7e34;
}


p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.actions {
    margin: 20px 0;
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 160px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}


.btn {
    display: inline-block;
    margin: 10px;
    padding: 12px 24px;
    font-size: 1em;
    color: #fff;
    background-color: #3a7bd5;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #295ba7;
}

footer {
    margin-top: 40px;
    font-size: 0.9em;
    color: #aaa;
}
