<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oops! Something Went Wrong</title>
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/error.css" />
</head>
<body>
    <header class="site-header" style="height: 350px;">
        <div class="outer-logo-wrapper">
            <a href="/" class="inner-logo-wrapper">
                <img src="/logo.png" class="logo"/>
            </a>
        </div>
        <div class="error-code" style="margin-left: 20px;">500</div>
        <div class="error-message" style="margin-left: 20px;">Oops! Something went wrong.</div>
    </header>
</body>
</html>