<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dettaglio Evento</title>
</head>
<body>

<h1>Dettaglio Evento</h1>

<ul>
    <li><strong>Tipo:</strong> <span th:text="${evento.tipo}"></span></li>
    <li><strong>Descrizione:</strong> <span th:text="${evento.descrizione}"></span></li>
    <li><strong>Data:</strong> <span th:text="${#temporals.format(evento.data, 'dd/MM/yyyy')}"></span></li>
    <li><strong>Bunker:</strong> <span th:text="${evento.bunker.nome}"></span></li>
</ul>

<a th:href="@{/eventi}">Torna alla lista eventi</a>

</body>
</html>
